<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urbcreations.unitconverter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/loolo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnitConverter">
        <activity android:name="com.urbcreations.unitconverter.Data"></activity>
        <activity android:name="com.urbcreations.unitconverter.Time" />
        <activity android:name="com.urbcreations.unitconverter.Temprature" />
        <activity android:name="com.urbcreations.unitconverter.Volume" />
        <activity android:name="com.urbcreations.unitconverter.Length" />
        <activity android:name="com.urbcreations.unitconverter.Weight" />
        <activity android:name="com.urbcreations.unitconverter.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>